<!DOCTYPE html>
<head>
    <title>RegisterTA</title>
</head>
<html>
    <body>
    <h1>Register</h1>
        {{ error if error != None}}
        <form method='post' action='../register_submit'>
            <div>
                <label>Username:</label>
                <input type="string" name="username" value="{{username if username != None}}" />
                User name should be less than 100 characters
            </div>

            <div>
                <label>Password:</label>
                <input type="string" name="password"/>
            </div>
            <input type="submit" value="Register" />
            <input type="reset" />
        </form>
    </body>
</html>